html {
  background: rgb(0, 0, 0);
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.titulo {
  font-family: "Matrix";
  font-weight: lighter;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 170px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: efectoTitulo 2s ease-in-out infinite alternate;
}

@keyframes efectoTitulo {
  from {
    color: black;

    text-shadow: 0 0 1px #3cff00, 0 0 3px #3cff00, 0 0 5px #3cff00,
      0 0 7px #3cff00, 0 0 9px #3cff00, 0 0 11px #3cff00, 0 0 13px #3cff00;
  }
  to {
    text-shadow: 0 0 15px #3cff00, 0 0 17px #3cff00, 0 0 19px #3cff00,
      0 0 21px #3cff00, 0 0 23px #3cff00, 0 0 25px #3cff00, 0 0 27px #3cff00;
  }
}

/*----------------------------Celular---------------------------- */
@media screen and (max-width: 530px) {
  .titulo {
    top: 40%;
    font-size: 80px;
    animation: efectoTitulo 1s ease-in-out infinite alternate;
  }
}

/*----------------------------Tablets----------------------------*/
@media screen and (min-width: 531px) and (max-width: 768px) {
  .titulo {
    top: 40%;
    font-size: 120px;
    animation: efectoTitulo 1.5s ease-in-out infinite alternate;
  }
}
